interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.cyclocity.fr/contracts/dublin/gbfs/v2/station_status.json
  response:
    body:
      string: '{"last_updated":1780675560,"ttl":1,"version":"2.3","data":{"stations":[{"station_id":"1","num_bikes_available":29,"vehicle_types_available":[{"vehicle_type_id":"mechanical","count":21},{"vehicle_type_id":"electrical","count":8}],"num_bikes_disabled":0,"num_docks_available":2,"num_docks_disabled":0,"is_installed":true,"is_renting":true,"is_returning":true,"last_reported":1780624973},{"station_id":"2","num_bikes_available":0,"vehicle_types_available":[{"vehicle_type_id":"mechanical","count":0},{"vehicle_type_id":"electrical","count":0}],"num_bikes_disabled":0,"num_docks_available":20,"num_docks_disabled":0,"is_installed":true,"is_renting":true,"is_returning":true,"last_reported":1780624974},{"station_id":"3","num_bikes_available":1,"vehicle_types_available":[{"vehicle_type_id":"mechanical","count":1},{"vehicle_type_id":"electrical","count":0}],"num_bikes_disabled[...]
