interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.cyclocity.fr/contracts/dublin/gbfs/v2/station_information.json
  response:
    body:
      string: '{"last_updated":1780675658,"ttl":300,"version":"2.3","data":{"stations":[{"station_id":"1","name":"CLARENDON
        ROW","lat":53.340927,"lon":-6.262501,"address":"Clarendon Row","capacity":31},{"station_id":"2","name":"BLESSINGTON
        STREET","lat":53.356769,"lon":-6.26814,"address":"Blessington Street","capacity":20},{"station_id":"3","name":"BOLTON
        STREET","lat":53.351182,"lon":-6.269859,"address":"Bolton Street","capacity":20},{"station_id":"4","name":"GREEK
        STREET","lat":53.346874,"lon":-6.272976,"address":"Greek Street","capacity":20},{"station_id":"5","name":"CHARLEMONT
        PLACE","lat":53.330704,"lon":-6.260004,"address":"Charlemont Street","capacity[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.cyclocity.fr/contracts/dublin/gbfs/v2/station_status.json
  response:
    body:
      string: '{"last_updated":1780675658,"ttl":1,"version":"2.3","data":{"stations":[{"station_id":"1","num_bikes_available":29,"vehicle_types_available":[{"vehicle_type_id":"mechanical","count":21},{"vehicle_type_id":"electrical","count":8}],"num_bikes_disabled":0,"num_docks_available":2,"num_docks_disabled":0,"is_installed":true,"is_renting":true,"is_returning":true,"last_reported":1780624973},{"station_id":"2","num_bikes_available":0,"vehicle_types_available":[{"vehicle_type_id":"mechanical","count":0},{"vehicle_type_id":"electrical","count":0}],"num_bikes_disabled":0,"num_docks_available":20,"num_docks_disabled":0,"is_installed":true,"is_renting":true,"is_returning":true,"last_reported":1780624974},{"station_id":"3","num_bikes_available":0,"vehicle_types_available":[{"vehicle_type_id":"mechanical","count":0},{"vehicle_type_id":"electrical","count":0}],"num_bikes_disabled[...]
